<head>
    <title>CarsCenter</title>
    <meta name="description" content="Projeto para o curso de web 2022">
    <meta name="keywords" content="HTML, CSS, JavaScript, EJS, Cookies">
    <meta name="authors" content="Jeová Caçula de Aguiar Junior, Igor Vinícius Santos Abreu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <div class="headerHome">
        <div >
            <label class="logo">Cars Center</label>
        </div>
        <div class="buttonFloat">
            <a  style="margin-right: 30px;"><button class="buttonRegister" href="#">Cadastre-se</button></a>
            <a><button class = "buttonLogin" href="#">Login</button></a>
        </div>
    </div>
    <div>
        <table class="cardCar">
            <tr>
                <td class="orderCards"><img class="imgContainer" src="https://revistacarro.com.br/wp-content/uploads/2021/04/Fiat-Toro-Ultra_1.jpg"></td>
                <td class="orderCards">
                    <label class="cardInformationNameCars">TORO ENDURANCE TURBO</label>
                    <pre>
                        Marca: Fiat
                        Cor: Vermelho
                        Valor: R$ 160.000,00
                        Diária: R$ 500,00
                    </pre>
                </td>
            <tr>
        </table>
    </div>
</body> 