<head>
    <title>CarsCenter</title>
    <meta name="description" content="Projeto para o curso de web 2022">
    <meta name="keywords" content="HTML, CSS, JavaScript, EJS, Cookies">
    <meta name="authors" content="Jeová Caçula de Aguiar Junior, Igor Vinícius Santos Abreu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <div class="headerHome">
        <label class="logo">Cars Center</label>
        <ul>
            <li><a href="#"><button>Cadastre-se</button></a></li>
            <li><a href="#"><button class="ButtonGreen">Login</button></a></li>
        </ul>
    </div>
</body> 