<head>
    <title>CarsCenter</title>
    <meta name="description" content="Projeto para o curso de web 2022">
    <meta name="keywords" content="HTML, CSS, JavaScript, EJS, Cookies">
    <meta name="authors" content="Jeová Caçula de Aguiar Junior, Igor Vinícius Santos Abreu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Olá</h1>
    <p>Seja bem vindo a página inicial do projeto</p>
</body> 