<head>
    <title>CarsCenter</title>
    <meta name="description" content="Projeto para o curso de web 2022">
    <meta name="keywords" content="HTML, CSS, JavaScript, EJS, Cookies">
    <meta name="authors" content="Jeová Caçula de Aguiar Junior, Igor Vinícius Santos Abreu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <div class="headerHome">
        <div >
            <label class="logo">Cars Center</label>
        </div>
        <div class="buttonFloat">
            <a  style="margin-right: 30px;"><button class="buttonRegister">Cadastre-se</button></a>
            <a><button class = "buttonLogin">Login</button></a>
        </div>
    </div>

</body> 