<head>
    <title>CarsCenter</title>
    <meta name="description" content="Projeto para o curso de web 2022">
    <meta name="keywords" content="HTML, CSS, JavaScript, EJS, Cookies">
    <meta name="authors" content="Jeová Caçula de Aguiar Junior, Igor Vinícius Santos Abreu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <nav>
        <label class="logo">CarsCenter</label>
        <ul>
            <li><a href="#">Cadastre-se</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</body> 