<head>
    <title>CarsCenter</title>
    <meta name="description" content="Projeto para o curso de web 2022">
    <meta name="keywords" content="HTML, CSS, JavaScript, EJS, Cookies">
    <meta name="authors" content="Jeová Caçula de Aguiar Junior, Igor Vinícius Santos Abreu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/loja.css">
</head>
<body>
    <nav class="headerHome">
        <div >
            <label class="logo">Cars Center</label>
        </div>
        <div class="buttonFloat">
            <a  style="margin-right: 30px;"><button class="storeButton" href="#">LOJA</button></a>
            <a  style="margin-right: 30px;"><button class="myRentButton" href="#">MEUS ALUGUÉIS</button></a>
            <a><button class = "myAccountButton" href="#">MINHA CONTA</button></a>
        </div>
    </nav>
    <div class="orderElements">
        <div class="limitCard">
            <img class="limitImgCar" src="https://revistacarro.com.br/wp-content/uploads/2021/04/Fiat-Toro-Ultra_1.jpg">
        </div>
        <div class="limitCard">
            <div class="additionalInfoCarName">
                <h1 class="carNameBar">Fiat Toro</h1>
                <div class="additionalInfoCar">
                    <table>
                        <tr>
                            <td>Marca: </td>
                            <td>Fiat</td>
                        </tr>
                        <tr>
                            <td>Cor: </td>
                            <td>Vermelho</td>
                        </tr>
                        <tr>
                            <td>Preço: </td>
                            <td>160.000,00</td>
                        </tr>
                        <tr>
                            <td>Diária: </td>
                            <td>500,00</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <button class="rentCarrButton">Alugar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="orderElements">
        <div class="limitCard">
            <img class="limitImgCar" src="https://revistacarro.com.br/wp-content/uploads/2021/04/Fiat-Toro-Ultra_1.jpg">
        </div>
        <div class="limitCard">
            <div class="additionalInfoCarName">
                <h1 class="carNameBar">Fiat Toro</h1>
                <div class="additionalInfoCar">
                    <table>
                        <tr>
                            <td>Marca: </td>
                            <td>Fiat</td>
                        </tr>
                        <tr>
                            <td>Cor: </td>
                            <td>Vermelho</td>
                        </tr>
                        <tr>
                            <td>Preço: </td>
                            <td>160.000,00</td>
                        </tr>
                        <tr>
                            <td>Diária: </td>
                            <td>500,00</td>
                        </tr>
                    </table>
                </div>
                <div class="orderButtonInLine">
                    <button class="unavailableTodayMsg">Indisponível hoje</button>
                </div>
                <label class="additionalButtonMsg">Dísponível em 20/10/2022</label>
            </div>
        </div>
    </div>
</body> 