<head>
    <title>CarsCenter</title>
    <meta name="description" content="Projeto para o curso de web 2022">
    <meta name="keywords" content="HTML, CSS, JavaScript, EJS, Cookies">
    <meta name="authors" content="Jeová Caçula de Aguiar Junior, Igor Vinícius Santos Abreu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/singup.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
    <header class="headerHome">
        <label class="logo">Cars Center</label>
    </header>

    <form action="/signin" method="POST">
    <div id="signInModal">
        <p id="titleSignUp">Bem-vindo novamente</p>
        <p id="subtitleSignUp"><i>Estavamos esperando por você</i></p>

        <strong>
        <p class="textIconsSignUp">EMAIL</p>
        <input class="inputSignUpModal" type="email" name="email" value="">
        
        <div class="divSenhaSignUpModal">

            <div class="divSenhaMarginSignUpModal">
                <p class="textIconsSignUpSenha">SENHA</p>
                <input class="inputSignUpModalSenha" type="text" name="senha" value="">
            </div>
        </div>      
        </strong>

        <div id="buttonsConfirmSignUpModal">
            <button class="buttonWithAdmin"><a href="/admin" class="buttonWithAdmin">LOGIN WITH ADMIN</a></button>
            <button class="buttonCancel"><a href="/" id="linkCancel">CANCELAR</a></button>
            <button class="buttonConfirm" type="submit"><a id="linkConfirm">ENTRAR</a></button>
        </div>
        <% if(erro != 10){%>
            <div>
                <h3 style="color: #fff;">Usuario ou senha incorretos</h3>
            </div>
        <% }%>
        
    </div>
    </form>
</body> 